@page
@model AccProductsEnt.Kuriev.Pages.ImplementationsModel
@{
}
<form method="post">
    <div class="form-group mb-3">
        <label asp-for="InputModel.ImplementationDate" class="col-sm-2 col-form-label"></label>
        <input asp-for="InputModel.ImplementationDate" class="form-control" id="inputTitle" />
        <span asp-validation-for="InputModel.ImplementationDate" style="color:darkred"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="InputModel.Price" class="col-sm-2 col-form-label"></label>
        <input asp-for="InputModel.Price" class="form-control" id="inputTitle" />
        <span asp-validation-for="InputModel.Price" style="color:darkred"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="InputModel.SelectValueListStorage"></label>
        <select class="mt-2" asp-for="InputModel.SelectValueListStorage" asp-items="Model.StorageItems"></select>
    </div>

    <button type="submit" class="btn-secondary">Сохранить</button>
</form>