@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="container-fluid justify-content-start p-5 col  height:100%" style="width:100%; height:100%; ">

        <h1 class="display-3 fs-1  " style="font-weight:500 "> Компания производит продукцию:</h1>
        <h1 class="display-3 fs-2  " style="font-weight:500 "> Для предприятий автозаправочного комплекса</h1>
        <ul>
            <li>
                <h1 class="display-3 fs-4 " style="font-weight:500 "> Топливораздаточные колонки;</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4  " style="font-weight:500 "> Устройства управления топливораздаточными и газонаполнительными колонками, в том числе импортными;</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 " style="font-weight:500 "> Программное обеспечение - автоматизированные системы управления автозаправочными, газонаполнительными, многотопливными станциями.</h1>
            </li>
        </ul>
        <h1 class="display-3 fs-3 mt-3 " style="font-weight:400 "> Квалификация персонала, четкая организация производства, использование современных систем автоматизированного проектирования и технологического оборудования, налаженные связи с поставщиками позволяют предприятию в кратчайший срок решать сложные задачи с неизменно высоким качеством.</h1>
        <h1 class="display-3 fs-3 mt-3 " style="font-weight:400 "> Использование комплектующих ведущих фирм, контроль на этапе производства, проведение приёмосдаточных испытаний обеспечивают высокий уровень качества и надежности оборудования.</h1>
        <h1 class="display-3 fs-3 mt-3 " style="font-weight:400 "> Программное обеспечение разрабатывается с учетом специфики изделий и опыта их эксплуатации. Оптимальное соотношение цены и качества, широкий ассортимент, длительный гарантийный срок эксплуатации, постгарантийное сопровождение продукции.</h1>
        <h1 class="display-3 fs-3 mt-3 " style="font-weight:500 ">"Топаз" обеспечат успех нашего сотрудничества! </h1>
        <img src="/images/Papa.jpg" class="img-fluid" alt="topazz" style="">
        <div style=" position:absolute; top:69%; left:6.5%; height:50px; width:50px; " href="https://vk.com/id610315283">
            <a href="https://vk.com/id610315283" class="stretched-link"></a>
        </div>

    </div>
    <div class="col">
            <img src="/images/company.jpg" class="img-fluid " alt="Topaz" style="">
            <img src="/images/footerphoto.png" class="img-fluid" alt="topaz" style=" width:100%; height:auto;">
            <h1 class="display-3 fs-1" style="font-weight:500">Структура предприятия</h1>
            <h1 class="display-3 fs-2 mt-3" style="font-weight:500">Основными звеньями производственного цикла в структуре предприятия являются:</h1>
        <ul>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Конструкторская служба</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Сборочно-монтажное производство</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Механообрабатывающее производство</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Отдел технической поддержки</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Отдел программного обеспечения</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Отдел маркетинга</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Производственно-сбытовой отдел</h1>
            </li>
            <li>
                <h1 class="display-3 fs-4 mt-4 " style="font-weight:500 "> Экономическая служба</h1>
            </li>
        </ul>
    </div>
</div>

