@page
@model AccProductsEnt.Kuriev.Pages.PriceListModel
@{
}
<form method="post">
    <div class="form-group mb-3">
        <label asp-for="InputModel.Name" class="col-sm-2 col-form-label"></label>
        <input asp-for="InputModel.Name" class="form-control" id="inputTitle" />
        <span asp-validation-for="InputModel.Name" style="color:darkred"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="InputModel.PricePerPiece" class="col-sm-2 col-form-label"></label>
        <input asp-for="InputModel.PricePerPiece" class="form-control" id="inputTitle" />
        <span asp-validation-for="InputModel.PricePerPiece" style="color:darkred"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="InputModel.SelectValueListClient"></label>
        <select class="mt-2" asp-for="InputModel.SelectValueListClient" asp-items="Model.ClientItems"></select>
    </div>

    <button type="submit" class="btn-secondary">Сохранить</button>
</form>